@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.header {
  background-color: #ebc0c0;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw; }

.tittle {
  text-decoration: none;
  color: black; }

.activar_menu {
  width: 12vw;
  position: absolute;
  top: auto;
  left: 0; }

.desplegable {
  background-color: #ebc0c0;
  width: 50vw;
  height: 100vh;
  border-top: 1px black solid;
  padding-top: 20px;
  position: absolute;
  z-index: 1;
  left: -50vw;
  top: 80px; }
  .desplegable ul li {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px black; }
    .desplegable ul li a {
      color: white;
      text-decoration: none;
      font-size: 5vw; }
    .desplegable ul li p {
      color: white;
      font-size: 5vw; }

.desplegableActivo {
  animation: desplazamiento_navBar 0.3s linear forwards; }

.desplegableDesactivo {
  animation: desplazamientoB_navBar 0.3s linear; }

@keyframes desplazamiento_navBar {
  0% {
    left: -50; }
  20% {
    left: -40; }
  40% {
    left: -30; }
  60% {
    left: -20; }
  80% {
    left: -10; }
  100% {
    left: 0; } }

@keyframes desplazamientoB_navBar {
  0% {
    left: 0; }
  20% {
    left: -10; }
  40% {
    left: -20; }
  60% {
    left: -30; }
  80% {
    left: -40; }
  100% {
    left: -50; } }

.cerrar_navBar {
  position: absolute;
  width: 100vw;
  height: 0px;
  z-index: 5; }

.cerrar_navBarActivo {
  height: 90px; }

.filtroActivo {
  z-index: 1;
  position: absolute;
  top: 80px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  animation: desplazamiento_filtro 0.3s linear forwards; }

@keyframes desplazamiento_filtro {
  0% {
    left: 0; }
  20% {
    left: 10vw; }
  40% {
    left: 20vw; }
  60% {
    left: 30vw; }
  80% {
    left: 40vw; }
  100% {
    left: 50vw; } }

.filtroInfoActivo {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); }

.cardInfo {
  position: absolute;
  width: 0;
  height: 0;
  background-color: white;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  border-radius: 5px;
  text-align: center;
  padding-top: 40px; }
  .cardInfo h3 {
    font-size: 0; }
  .cardInfo ul {
    margin-top: 50px; }
    .cardInfo ul li {
      list-style: none;
      margin-bottom: 10px;
      font-size: 0; }
      .cardInfo ul li span {
        font-weight: bold; }

.cerrar:after {
  content: "\d7";
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 20px; }

.cardInfoActivo {
  width: 90vw;
  height: 90vh; }
  .cardInfoActivo h3 {
    font-size: 6vw; }
  .cardInfoActivo ul li {
    font-size: 4vw; }

.cardUbicacion {
  position: absolute;
  width: 0;
  height: 0;
  background-color: white;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  border-radius: 5px;
  text-align: center;
  padding-top: 40px; }
  .cardUbicacion h3 {
    font-size: 0; }
  .cardUbicacion p {
    margin-top: 50px;
    font-size: 0; }
  .cardUbicacion iframe {
    margin-top: 20px;
    width: 0;
    height: 0; }

.cardUbicacionActivo {
  position: absolute;
  width: 90vw;
  height: 90vh;
  background-color: white;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  border-radius: 5px;
  text-align: center;
  padding-top: 40px; }
  .cardUbicacionActivo h3 {
    font-size: 6vw; }
  .cardUbicacionActivo p {
    font-size: 4vw; }
  .cardUbicacionActivo iframe {
    width: 80vw;
    height: 80vw; }

.cerrarUbi:after {
  content: "\d7";
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 20px; }

.subtittle {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "flecha p none"; }
  .subtittle p {
    grid-area: p;
    align-self: center;
    justify-self: center; }
  .subtittle .flecha {
    align-self: center;
    grid-area: flecha; }

.footer {
  margin-top: 50px;
  background-color: #ebc0c0;
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

.main {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white; }

.main_desplazamiento {
  animation: desplazamiento_main 0.3s linear forwards; }

.main_cerrar {
  animation: cerrar_desplazamiento_main 0.3s linear forwards; }

@keyframes desplazamiento_main {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 10vw; }
  40% {
    margin-left: 20vw; }
  60% {
    margin-left: 30vw; }
  80% {
    margin-left: 40vw; }
  100% {
    margin-left: 50vw; } }

@keyframes cerrar_desplazamiento_main {
  0% {
    margin-left: 50vw; }
  20% {
    margin-left: 40vw; }
  40% {
    margin-left: 30vw; }
  60% {
    margin-left: 20vw; }
  80% {
    margin-left: 10vw; }
  100% {
    margin-left: 0; } }

.p {
  align-self: center;
  font-size: 5vw;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  color: black; }

.card {
  width: 90vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 8vw;
  text-decoration: none;
  font-weight: bold; }

.text_card {
  color: white;
  position: absolute; }

.card1 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  filter: brightness(80%); }

.precio {
  color: #000; }

.precio::before {
  content: "$";
  color: #000; }

.img_producto {
  width: 90vw;
  height: 30vw;
  margin: auto;
  margin-top: 30px; }
  .img_producto img {
    width: 100%;
    height: 100%;
    border-radius: 5px; }

.opciones_producto {
  margin: auto;
  margin-top: 40px;
  width: 90vw;
  margin-bottom: 15px;
  color: black; }
  .opciones_producto p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px; }

.linea {
  width: 100vw;
  border-top: 0.1px solid #afafaf;
  margin-bottom: 15px; }

.content_obs {
  width: 90vw;
  height: 20vw;
  margin-left: 5vw; }

.text_producto {
  color: black; }

.footer_producto {
  position: absolute;
  top: 95vh;
  width: 100vw;
  height: 5vh;
  background-color: #ebc0c0;
  display: flex;
  align-items: center; }

.btn_agregar {
  position: absolute;
  right: 10px; }
  .btn_agregar button {
    color: #000000;
    font-size: 20px;
    padding: 0.5vh;
    text-decoration: none;
    border: 0;
    background: #ebc0c0; }

.precio_poner {
  margin-left: 20px;
  font-size: 18px; }

.cantidad {
  position: absolute;
  display: flex;
  top: 91vh;
  left: 0;
  color: #000;
  font-size: 20px;
  font-weight: bold; }
  .cantidad button {
    margin-left: 7px; }
  .cantidad div {
    margin-left: 7px; }

.boton_mas, .boton_menos {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid black;
  position: relative;
  background-color: #ebc0c0; }

.boton_mas::before, .boton_menos::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 0;
  border-top: 3px solid black; }

.boton_mas::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 50%;
  border-left: 3px solid black; }
