.footer{
    position: fixed;
    top: 95vh;
    width: 100vw;
    height: 5vh;
    background-color: $color_principal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
}
